<progress class="w-100" min="0" max="100" value={{multiply 10 @imdb }}></progress>
<p class="mb-0">IMDB Rating {{this.imdb}}</p>

{{!--
<div data-my-test={{this.someValue}}>{{this.prop}}</div>
<button id="sayHello" class="invisible" {{action "sayHello" }}></button>
--}}

{{yield}}